/node_modules
/public/build
/public/storage
/storage/*.key
/vendor
package-lock.json
/public/*
/public/css/*
/public/js/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
check_*.php
/database/database.test.sqlite
